appdirs==1.4.2
appnope==0.1.0
astroid==1.4.9
backports-abc==0.5
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
bleach==1.5.0
certifi==2017.1.23
click==6.6
configparser==3.5.0
coverage==4.3.4
cycler==0.10.0
decorator==4.0.11
entrypoints==0.2.2
enum34==1.1.6
flake8==3.0.4
Flask==0.11.1
FormEncode==1.3.1
functools32==3.2.3.post2
html5lib==0.9999999
ipykernel==4.5.2
ipython==5.3.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
jupyterthemes==0.14.4
lazy-object-proxy==1.2.2
lesscpy==0.12.0
lxml==3.6.4
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.5.2
mistune==0.7.3
mpmath==0.19
nbconvert==5.1.1
nbformat==4.3.0
notebook==4.4.1
numpy==1.11.3
packaging==16.8
pandas==0.19.2
pandocfilters==1.4.1
pathlib2==2.2.1
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
ply==3.10
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pycodestyle==2.0.0
PyDispatcher==2.0.5
pyflakes==1.2.3
Pygments==2.2.0
pylint==1.6.5
pymongo==3.3.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
qtconsole==4.2.1
scandir==1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.5
sqlalchemy-migrate==0.10.0
SQLObject==3.1.0
sqlparse==0.2.2
stevedore==1.20.0
sympy==1.0
Tempita==0.5.2
terminado==0.6
testpath==0.3
tornado==4.4.2
traitlets==4.3.2
trash-cli==0.12.9.14.post0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
Werkzeug==0.11.11
widgetsnbextension==1.2.6
wrapt==1.10.8
